@model IEnumerable<TMSBilling.Controllers.ConsigneeViewModel>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Consignee";
    var isAdmin = Context.Session.GetString("is_admin") == "true";
}

@* <div class="d-flex justify-content-start gap-2 mb-2">
<button class="btn btn-primary btn-sm mb-3 d-none" id="btnAdd">Add Data</button>
<a href="/Geofence/Form?category=consignee" class="btn btn-success btn-sm mb-3" id="btnAdd">Add Data</a>
<button class="btn btn-info btn-sm mb-3" id="btnSyncGeofence">Sync Consignee</button>
<div id="exportButtons"></div>
</div> *@

<style>

    #dataTable {
        font-size: 13px;
    }

        #dataTable th,
        #dataTable th,
        td {
            padding: 4px 8px !important; /* lebih rapat */
            vertical-align: middle;
        }

        #dataTable thead input {
            width: 100%;
            padding: 2px 4px;
            font-size: 12px;
            line-height: 1.2;
            height: 24px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        #dataTable thead select {
            width: 100%;
            padding: 2px 4px;
            font-size: 12px;
            height: 24px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

</style>


<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="d-flex gap-2">
        <button class="btn btn-primary btn-sm mb-3 d-none" id="btnAdd">Add Data</button>
        <a href="/Geofence/Form?category=consignee" class="btn btn-success btn-sm mb-3" id="btnAdd">Add Data</a>
         @if (isAdmin)
    {
        <button class="btn btn-info btn-sm mb-3" id="btnSyncGeofence">Sync Consignee</button>
    }

        <div id="exportButtons"></div>
    </div>
</div>

@* <button class="btn btn-primary btn-sm mb-3" id="btnAddGeofenceConsignee">Add Consignee With Geofence</button> *@

<table class="table table-bordered table-striped w-100" id="dataTable" style="font-size : 13px;"> 
    <thead>     
        <tr>
            <th>Consignee Name</th>
            <th>Customer Group</th>
            <th>Main Customer</th>
            <th>Address</th>
            <th>City</th>
            <th style="width:100px; text-align:center;">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FenceName</td>
                <td>@item.CustomerGroup</td>
                <td>@item.MainCustomer</td>
                <td>@item.Address</td>
                <td>@item.City</td>
                <td style="text-align:center;">
                    <button class="btn btn-sm btn-warning btnEdit d-none" data-id="@item.GeofenceID" title="Edit">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <a href="/Geofence/Form?category=consignee&id=@item.GeofenceID" class="btn btn-sm btn-success"><i class="bi bi-pencil-square"></i></a>
                    @if(isAdmin){
                    <button class="btn btn-sm btn-danger btnDelete" data-id="@item.GeofenceID" title="Delete">
                        <i class="bi bi-trash"></i>
                    </button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="modalForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Form Consignee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalContent"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCustomerGroup" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Customer Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modalContentCustomerGroup"></div>
        </div>
    </div>
</div>



@section Scripts {
    <script>
        const modal = new bootstrap.Modal(document.getElementById("modalForm"));
        const modal2 = new bootstrap.Modal(document.getElementById("modalCustomerGroup"));

        $(document).ready(function () {
            $('#dataTable').DataTable({
                // ordering: false,
                responsive: true,
                pageLength: 25,
                lengthMenu: [10, 25, 50, 100],
                orderCellsTop: true,
                fixedHeader: true,
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel"></i> Download Excel',
                        title: 'Data Consignee',
                        className: 'btn btn-outline-secondary btn-sm'
                    }
                ],
                initComplete: function() {
                    // Pindahin tombol & search ke tempat custom
                    $('.dt-buttons').appendTo('#exportButtons');
                    // $('.dataTables_filter').appendTo('#tableSearch').addClass('d-inline-block mb-0');
                }
            });

            $('#btnAdd').click(function () {
                $.get('/Consignee/Form', function (html) {
                    $('#modalContent').html(html);
                    modal.show();
                    $('.select2').select2({ 
                        dropdownParent: $('#modalForm'),
                        placeholder: "Select an Option",
                        allowClear: true,
                        width: '100%' 
                    });
                });
            });

            $('#btnSyncGeofence').on('click', function(){
                showLoading();
                $.ajax({
                    url: '/Consignee/SyncConsignee',
                    method: 'POST',
                    dataType: 'json',
                    success: function (response) {
                        hideLoading();

                        if (response.success) {
                            Swal.fire({
                                icon: 'success',
                                title: 'Success',
                                text: response.message,
                                confirmButtonColor: '#3085d6',
                                confirmButtonText: 'OK'
                            }).then(function(){
                                window.location.reload();
                            });
                        } else {
                            Swal.fire({
                                icon: 'warning',
                                title: 'Sinkronisasi Gagal',
                                text: response.message || 'Gagal memproses data dari API.',
                                confirmButtonColor: '#d33',
                                confirmButtonText: 'Tutup'
                            });
                        }
                    },
                    error: function (xhr) {
                        hideLoading();

                        Swal.fire({
                            icon: 'error',
                            title: 'Terjadi Kesalahan',
                            text: xhr.responseText || 'Server tidak merespons.',
                            confirmButtonColor: '#d33',
                            confirmButtonText: 'Tutup'
                        });
                    }
                });
            })

            $('#btnAddGeofenceConsignee').click(function () {
                $.get('/Consignee/OptionCustomerGroup', function (html) {
                    console.log(html)
                    $('#modalContentCustomerGroup').html(html);

                    modal2.show();
                });
            });

            $(document).on("click", ".btnEdit", function () {
                const id = $(this).data('id');
                $.get('/Consignee/Form?id=' + id, function (html) {
                    $('#modalContent').html(html);
                    modal.show();
                    $('.select2').select2({
                        dropdownParent: $('#modalForm'),
                        placeholder: "Select an Option",
                        allowClear: true,
                        width: '100%'
                    });
                });
            });

            $('.btnDelete').click(function () {
                if (!confirm("Yakin hapus data?")) return;
                const id = $(this).data('id');
                $.post('/Consignee/Delete', { id }, function () {
                    location.reload();
                });
            });

            $(document).on("submit", "#formConsignee", function (e) {
                e.preventDefault();
                $.post('/Consignee/Form', $(this).serialize())
                    .done(function () {
                        modal.hide();
                        location.reload();
                    })
                    .fail(function () {
                        // alert("Gagal menyimpan data.");
                    });
            });
        });
    </script>
}
