@model IEnumerable<TMSBilling.Models.PriceSell>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["Title"] = "Price Sell";
}
<div class="mb-3">
    <div>
        <button class="btn btn-primary btn-sm" onclick="loadForm(0)">Add Price Sell</button>
        <a href="/PriceSell/Upload" class="btn btn-success btn-sm">Import</a>
    </div>
</div>

<div id="formContainer"></div>

<table class="table table-bordered table-sm table-striped nowrap" id="priceSellTable">
    <thead>
        <tr>
            <th>Customer Main</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Service Type</th>
            <th>Moda</th>
            <th>Truk Size</th>
            <th>Charge UoM</th>
            <th>Status</th>
            <th style="width:80px">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.cust_code</td>
                <td>@item.origin</td>
                <td>@item.dest</td>
                <td>@item.serv_type</td>
                <td>@item.serv_moda</td>
                <td>@item.truck_size</td>
                <td>@item.charge_uom</td>
                <td>@(item.active_flag == 1 ? "Aktif" : "Nonaktif")</td>
                <td>
                    <button class="btn btn-sm btn-warning" onclick="loadForm(@item.id_seq)">
                        <i class="bi bi-pencil-square"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" onclick="remove(@item.id_seq)">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="formModal" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detail Selling Price</h5>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="formBody">
                <!-- form will load here -->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

         function loadForm(id) {
            $.get('/PriceSell/Form', { id }, function (html) {
                $('#formBody').html(html);
                const modal = new bootstrap.Modal(document.getElementById('formModal'));
                modal.show();
                $('.select2').select2({
                    dropdownParent: $('#formModal'),
                    placeholder: "Select an Option",
                    allowClear: true,
                    width: '100%' // ini penting biar full lebar
                });
            });
        }

        function remove(id) {
            if (!confirm("Yakin ingin menghapus data ini?")) return;
            $.post("/PriceSell/Delete", { id }, function () {
                location.reload();
            });
        }

        $(document).ready(function () {
            $('#priceSellTable').DataTable();
        });
    </script>
}
